spring:
  application:
    name: worker-ai-productivity
  datasource:
    url: jdbc:postgresql://localhost:5432/worker_ai_prod
    username: worker_ai
    password: worker_ai_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083
